.navbarComponent {
    position: relative;
    background-color: #fff;
    margin-top: -40px;
    border-radius: 40px;
}

.titleLogo {
    display: flex;
    align-items: center;
}

.titleLogo img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.navegation {
    display: flex;
    align-items: center;
}

.ButtonIcon {
    display: none;
}

.itemNavb {
    display: flex;
    align-items: center;
}

.itemNavb li {
    list-style: none;
}

.navegation li button, .ButtonIcon {
    padding: 10px 15px;
    margin: 0 5px;
    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}

.navegation li button:hover, .ButtonIcon:hover {
    background-color: #2C3E50;
    border-radius: 40px;
    color: #fff;
    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}

.ButtonIcon:hover {
    border-radius: 60px;
}

/* responsitive Designe */

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
    .navbarComponent {
        width: 95%;
    }

    .titleLogo {
        display: flex;
        align-items: baseline;
    }

    .titleLogo img {
        display: none;
    }

    .navegation {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .ButtonIcon {
        display: flex;
    }

    .itemNavb {
        display: none;
    }

    .itemNavb li button {
        margin-top: 5px;
    }
}